body{
    background-color: aliceblue;
}
.main{
    margin-top: 150px;
    margin-left: 600px;
    margin-right: 600px;
    border: 2px solid rgb(238, 226, 226);
    border-radius: 10px;
    padding: 6px;
    background-color: rgb(247, 242, 242);
}
.image1{
   width: 100%;
   object-fit: cover;

   border-radius: 10px;
}
.center{
    border-radius: 10px;
}
.h1{
    font-weight: bolder;
}
.button:hover{
    text-align: center;
}
.button{
    text-align: center;
    color: blue;
    background-color: rgb(189, 209, 211);
    border-radius: 15px;
    padding: 8px 15px;
    font-weight: 600;
    border: none;
}